@font-face {
    font-family: geoform;
    src: url(/geoform/Geoform-Light.otf);
}
@font-face {
    font-family: geoformbold;
    src: url(/geoform/Geoform-ExtraBold.otf);
}
@font-face {
    font-family: logofont;
    src: url(/babang/Babang.otf);
}
@font-face {
    font-family: animal;
    src: url(/animal_chariot/Animal Chariot.ttf);
}
*{
    font-family: geoform;
    user-select: none;
}
body{
    overflow-x: hidden;
}
.babang{
    font-family: babang;
}
.animal{
    font-family: animal;
}
.boldfont{
    font-family: geoformbold
}
.logo{
    font-family: logofont
}
@import "tailwindcss";

